
@import "bootstrap";

.cool{
  text-align: right;
  list-style: none;
  margin: 0;
  padding-right : 30px;
  padding-top: -30px;
  line-height: 24px;
}
.cool li {
  border: 1px solid #AAA;
  background: #ECECEC;
  display: inline-block;
  background:      -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background:     -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background:    -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  text-shadow: 0 1px #FFF;
  margin: 0 -5px;
  padding: 0 20px;
}
.tab {
	text-align: center;
}
.tab th {
	font-size: 20px;
    width: 15em
}

.center h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}
.navbar .brand{font-size:24pt;
  text-align: center;
  color: #ee3524;}
.navbar .logo{position:relative;
  top:-4px;height:45px;padding-right:5px;
  border-right:2px solid #ee3124;
  margin:5px 5px 5px 0;
  float:left;}

.logo-container
.f-left{float:left}